body {
    background: linear-gradient(to right, #ede5dc, #e6f1e9);
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}


* img {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* shadow */
    border-radius: 5px;
    /* for soft termination*/
}

.card,
.accordion-item,
.accordion-button {
    background-color: #ebebeb;
}

h2,button {
    margin: 8px;
}

form {
    border-radius: 5px;
    background-color: rgba(169, 169, 169, 0.2);
    /* Tono de gris con 50% de opacidad */
}

label {
    display: inline-block;
    transition: transform 0.3s ease-in-out;
}

label:hover {
    transform: scale(1.1);
    /* Ajusta el valor según tus preferencias */
}